<div class="col-md-6">
  <p> {{adminLoggedIn}}</p>


  <!-- {{users[0].id}} -->
<!-- console.log(users[0]) -->
  <ul class="list-group" *ngIf="users">
    <h3>
      Admin Panel: Edit Users List
     </h3>
    <li class="list-group-item"
        *ngFor="let user of users">
      <app-user [user]="user"></app-user>
    </li>
  </ul>

<br><br><br>

  <router-outlet></router-outlet>
  <br>
 <a class="router-link" [routerLink]="['/']"> Return to products page</a>
</div>





<!-- <h1>My Todo's</h1>
<h3>Todos 4</h3>
<div class="container">
  <table class = "table">
    <thead>
      <tr>
        <th>id</th>
        <th>username</th>
        <th>password</th>
        <!-- <th>Update</th> -->
      <!-- </tr>
    </thead>

      <tbody>
        <tr *ngFor = "let user of users">
          <td> {{user.id }}</td>
          <td>{{user.username}}</td>
          <td> {{user.password}}</td>
          <!-- <td> <button (click) = "updateTodo(todo.id)" class=" btn btn-success">Update</button></td> -->
        <!-- </tr>
      </tbody> -->

    <!-- </table> -->

<!-- </div> -->
