<!-- this section to be further developed in the food box main project -->

<div class="container">

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="productcategory"></label>
      <div class="row text-justify text-center">
        <div class="col-lg-12">
          <div class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group">



            <input type="radio"
            class="btn-check"
            name="productcategory"
            id="meals"
            value="meals"
            formControlName="productcategory"
            (change)="changeCategory($event)"
            autocomplete="off"
            checked
            >

            <label class="btn btn-outline-primary btn-outline-success" for="meals">Meals</label>

            <input type="radio"
            class="btn-check"
            name="productcategory"
            id="drinks"
            value="drinks"
            formControlName="productcategory"
            (change)="changeCategory($event)"
            autocomplete="off">

            <label class="btn btn-outline-primary btn-outline-danger" for="drinks">Drinks</label>

            <input type="radio"
            class="btn-check"
            name="productcategory"
            value="sides"
            formControlName="productcategory"
            (change)="changeCategory($event)"
            id="sides"
            autocomplete="off">
            <label class="btn btn-outline-primary btn-outline-info" for="sides">Sides</label>

            <input type="radio"
            class="btn-check"
            name="productcategory"
            id="all"
            value="all"
            formControlName="productcategory"
            (change)="changeCategory($event)"
            autocomplete="off"
            >

            <label class="btn btn-outline-primary btn-outline-secondary" for="all">All Products</label>
        </div>
        </div>
      </div>
    </div>
  </form>
<!-- </div>{{productcategory}} -->
<div *ngIf="productcategory == 'all'">

<app-list-product> </app-list-product>
</div>
