

<!-- <p>
  <a routerLink="/shipping">Shipping Prices</a>
</p> -->
<div class="h-100 d-flex align-items-center justify-content-center">

  <div *ngIf="items.length else elseBlock">
    <h3>Cart</h3>
      <table class = "table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total price</th>
          </tr>
        </thead>
        <tbody>

          <tr class="cart-item" *ngFor="let item of items">
            <td> <span>{{ item.productname }} </span></td>
            <td><span>{{ item.productprice | currency }}</span></td>
            <td><span>{{ item.productquantity }}</span></td>
            <td><span>{{ item.producttotal | currency }}</span></td>
          </tr>
          <tr>
            <td> <span> </span></td>
            <td><span>Grand Total</span></td>
            <td><span></span></td>
            <td><span>{{ grandtotal | currency}}</span></td>
        </tbody>
      </table>


    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

      <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div>
        <label for="address">
          Address
        </label>
        <input id="address" type="text" formControlName="address">
      </div>

      <button class="button" type="submit" routerLink="/confirmation" class="button fancy-button">Purchase</button>

    </form>
  </div>

  <ng-template #elseBlock>
    <div>
      <h6> No items added to your cart yet </h6>

      <a routerLink="" class="button fancy-button">
        <i class="material-icons">Return to product order page</i>
      </a>

    </div>
  </ng-template>
</div>
