<div class="container">
  <table class = "table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Available</th>
        <th>Order Quantity</th>
        <th>Add to order</th>
      </tr>
    </thead>

      <tbody>
        <tr *ngFor = "let product of products">
          <td> {{product.productname }}</td>
          <td>{{product.productdescription}}</td>
          <td> {{product.productprice}}</td>
          <td> {{product.productquantity}}</td>
          <td>

            <!-- <label for="quantity"></label>
            <input id="quantity" type="text" [formControl]="quantity"> -->


            <label>0</label>

            <!-- <button (click)="updateItem(product.productname)" class="btn btn-info">Update</button> -->


            <!-- <input type="number" class="form-control" [(ngModel)]="productquantity" /> -->
          </td>
          <td>
          <button  class="btn btn-success" (click) = "populateData(product.product_id)"> Update</button>
          <!-- <td> <button  class="btn btn-success" (click) = "populateData(product.product_id)">
            Update</button></td> -->
            <!-- <td> <button  class="btn btn-success" [product_id]="product.product_id"
              >Update</button></td> -->

            </td>
          <!-- <td> <button (click) = "updateProduct(product.id)" class=" btn btn-success">Update</button></td> -->
        </tr>
      </tbody>

    </table>

</div>
