<div class="container">
  <table class = "table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Available</th>
        <th>Order Quantity</th>
        <th>Add to order</th>
        <th>Total</th>
      </tr>
    </thead>

      <tbody>
        <tr *ngFor = "let product of products">
          <td> {{product.productname }}</td>
          <td>{{product.productdescription}}</td>
          <td> {{product.productprice}}</td>
          <td> {{product.availablequantity}}</td>
          <td>

            <!-- <label for="quantity"></label>
            <input id="quantity" type="text" [formControl]="quantity"> -->


            <!-- <label>0</label> -->

            <!-- <button (click)="updateItem(product.productname)" class="btn btn-info">Update</button> -->


            <input type="text" class="form-control" [(ngModel)]="product.productquantity">
            <!-- {{product.productquantity}} -->
          </td>
          <td>
          <button  class="btn btn-success" (click) = "populateData(product.product_id, product.productprice, product.productname, product.productquantity)"> Update</button>
          <!-- <td> <button  class="btn btn-success" (click) = "populateData(product.product_id)">
            Update</button></td> -->
            <!-- <td> <button  class="btn btn-success" [product_id]="product.product_id"
              >Update</button></td> -->

            </td>
          <!-- <td> <button (click) = "updateProduct(product.id)" class=" btn btn-success">Update</button></td> -->
          <td >{{product.producttotal}} </td>
        </tr>
      </tbody>
{{foodmenucomponent.category}}
{{username}}
<!-- {{users.username}} -->
{{logincomponent.username}}
{{password}}
{{logincomponent.password}}
<!-- {{logincomponent.getUsername}} -->
{{logincomponent.password}}
<!-- {{adminLoggedIn}}
{{logincomponent.adminLoggedIn}} -->
    </table>

</div>
