<div class="container">
  <table class = "table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Available</th>
        <th>Order Quantity</th>
        <th>Total</th>
        <th>Add to cart</th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor = "let product of products">
          <td> {{product.productname }}</td>
          <td>{{product.productdescription}}</td>
          <td> {{product.productprice}}</td>
          <td> {{product.availablequantity}}</td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="product.cart">
          </td>

          <!-- <td>
            <button  class="btn btn-success" (click) = "populateData(product.product_id, product.productprice, product.productname, {{productorderquantity}}> Add to cart </button>
          </td> -->

          <!-- <td >{{cart.productordertotalamount}} </td> -->
        </tr>
      </tbody>
     </table>
{{foodmenucomponent.category}}
{{username}}
<!-- {{users.username}} -->
{{logincomponent.username}}
{{password}}
{{logincomponent.password}}
<!-- {{logincomponent.getUsername}} -->
{{logincomponent.password}}
<!-- {{adminLoggedIn}}
{{logincomponent.adminLoggedIn}} -->
</div>
