.user-details-box {

  border: 1px solid;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.router-link{
  display: flex;
  align-items: center;
  justify-content: center;
   width: 90%;
}
